<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PACSCL Discovery</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag 'admin', media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/admin_menu' if current_user %>

    <main class="container py-4">
      <%= render partial: 'shared/flash_msg', layout: 'shared/flash_messages' %>

      <%= yield %>
    </main>
  </body>
</html>
