<div class="container">
  <h1>Endpoint Status</h1>
  <h2><%= @endpoint.slug %></h2>

  <dl>
    <dt>Public Contacts</dt>
    <dd>
      <ul>
      <% @endpoint.public_contacts.each do |contact| %>
        <li><%= mail_to contact %></li>
      <% end %>
      </ul>
    </dd>

    <dt>Technical Contacts</dt>
    <dd>
      <ul>
      <% @endpoint.tech_contacts.each do |contact| %>
        <li><%= mail_to contact %></li>
      <% end %>
      </ul>
    </dd>
  </dl>

  <h3>
    Harvesting Information
  </h3>

  <dl>
    <dt>Endpoint Type</dt>
    <dd><%= @endpoint.source_type %></dd>

    <dt>Endpoint URL</dt>
    <dd><%= link_to @endpoint.url, @endpoint.url %></dd>
  </dl>

  <h4>
    Status
  </h4>

  <dl>
    <dt>Last Harvest Attempt</dt>
    <dd><%= time_since_last_harvest @endpoint.last_harvest.date %></dd>
  </dl>

  <% if @endpoint.last_harvest.failed? %>
  <div class="alert alert-danger">
    No files able to be harvested
  </div>
  <dl>
    <dt>Messages</dt>
    <dd>
      <ul>
      <% @endpoint.last_harvest.errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
      </ul>
    </dd>
  </dl>
  <% elsif @endpoint.last_harvest.partial? %>
  <div class="alert alert-warning">
    Some problems harvesting individual files
  </div>
  <dl>
    Problem Files (<%= @endpoint.last_harvest.problem_files.count %>)
  </dl>
  <dd>
    <ol>
      <% @endpoint.last_harvest.problem_files.each do |file| %>
      <li><%= error_message_for(@endpoint, file).html_safe %></li>
      <% end %>
    </ol>
  </dd>
  <dl>
    Successful Files (<%= @endpoint.last_harvest.success_files.count %>)
  </dl>
  <dd>
    <ol>
      <% @endpoint.last_harvest.success_files.each do |file| %>
      <li><%= link_to file['id'], solr_document_path(file['id']) %></li>
      <% end %>
    </ol>
  </dd>
  <% else %>
  <div class="alert alert-success">
    All files harvested successfully
  </div>
  <dl>
    Files (<%= @endpoint.last_harvest.success_files&.count %>)
  </dl>
  <dd>
    <ol>
      <% @endpoint.last_harvest.success_files&.each do |file| %>
      <li><%= link_to file['id'], solr_document_path(file['id']) %></li>
      <% end %>
    </ol>
  </dd>
    <% if @endpoint.last_harvest.removals? %>
    <dl>Removed Records</dl>
    <dd>
      <ol id="removed-records-list">
        <% @endpoint.last_harvest.removed_files.each do |removed| %>
        <li><%= removed['id'] %></li>
        <% end %>
      </ol>
    </dd>
    <% end %>
  <% end %>
</div>
