<div class="container">
  <h1>Endpoint Status</h1>
  <h2><%= @endpoint.slug %></h2>

  <dl>
    <dt>Slug</dt>
    <dd><%= @endpoint.slug %></dd>

    <dt>Public Contacts</dt>
    <dd>
      <ul>
      <% @endpoint.public_contacts.each do |contact| %>
        <li><%= contact %></li>
      <% end %>
      </ul>
    </dd>

    <dt>Technical Contacts</dt>
    <dd>
      <ul>
      <% @endpoint.tech_contacts.each do |contact| %>
        <li><%= contact %></li>
      <% end %>
      </ul>
    </dd>
  </dl>


  <h3>
    Harvesting Information
  </h3>

  <dl>
    <dt>Endpoint Type</dt>
    <dd><%= @endpoint.type %></dd>

    <dt>Endpoint URL</dt>
    <dd><%= link_to @endpoint.url %></dd>
  </dl>

  <h4>
    Status
  </h4>

  <% if @endpoint.last_harvest_failed? %>
  <div class="alert alert-danger">
    No files able to be harvested
  </div>
  <dl>
    <dt>Messages</dt>
    <dd>
      <ul>
      <%= @endpoint.last_harvest_errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
      </ul>
    </dd>
  </dl>
  <% elsif @endpoint.last_harvest_warnings? %>
  <div class="alert alert-warning">
    Some problems harvesting individual files
  </div>
  <dl>
    Problem Files
  </dl>
  <dd>
    <ol>
      <% @endpoint.last_harvest_problem_files.each do |file| %>
      <li><%= "#{file['filename']}: #{file['errors'].join(', ')}" %></li>
      <% end %>
    </ol>
  </dd>
  <dl>
    Successful Files
  </dl>
  <dd>
    <ol>
      <% @endpoint.last_harvest_success_files.each do |file| %>
      <li><%= link_to file['filename'] %></li>
      <% end %>
    </ol>
  </dd>
  <% else %>
  <div class="alert alert-success">
    All files harvested successfully
  </div>
  <dl>
    Files
  </dl>
  <dd>
    <ol>
      <% @endpoint.last_harvest_files.each do |file| %>
      <li><%= link_to file['filename'] %></li>
      <% end %>
    </ol>
  </dd>
    <% if @endpoint.last_harvest_removals? %>
    <dl>Removed Records</dl>
    <dd>
      <ol id="removed-records-list">
        <% @endpoint.last_harvest_removed_ids.each do |removed_id| %>
        <li><%= removed_id %></li>
        <% end %>
      </ol>
    </dd>
    <% end %>
  <% end %>
</div>
