<h1>Last Harvest Failed</h1>

<%# TODO: update information sent in notification %>
<strong>Endpoint Slug:</strong> <%= @endpoint.slug %>
<strong>Endpoint URL:</strong> <%= @endpoint.webpage_url %>
<strong>Harvest Date:</strong> <%= @endpoint.last_harvest.date %>

Harvest failed with the following errors:
<ul>
  <% @endpoint.last_harvest.errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>

For more information visit the endpoint's <%= link_to 'status page', endpoint_url(@endpoint.slug) %>.