<h1>Last Harvest Failed</h1>

<strong>Endpoint Slug:</strong> <%= @endpoint.slug %>
<% if @endpoint.display_url %><strong>Endpoint URL:</strong> <%= @endpoint.display_url %><% end %>
<strong>Harvest Date:</strong> <%= @endpoint.last_harvest.date %>

Harvest failed with the following errors:
<ul>
  <% @endpoint.last_harvest.errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>

For more information visit the endpoint's <%= link_to 'status page', endpoint_status_url(@endpoint.slug) %>.