<h1><%= t('admin.featured_collections.heading') %></h1>

<p class="text-muted mb-3"><%= t('admin.featured_collections.description') %></p>

<div class="d-flex justify-content-end">
  <div class="btn-group mb-3">
    <%= link_to t('admin.featured_collections.new'), new_featured_collection_path, class: 'btn btn-outline-dark' %>
  </div>
</div>

<% if @guides.empty? %>
  <p><%= t('admin.featured_collections.empty') %></p>
<% else %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col"><%= t('admin.featured_collections.form.title_label') %></th>
      <th scope="col"><%= t('admin.featured_collections.form.repository_label') %></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <% @guides.each do |guide| %>
      <tr>
        <td><%= guide.title %></td>
        <td><%= guide.repository %></td>
        <td><%= button_to t('admin.actions.destroy'), featured_collection_path(guide), method: :delete, class: 'btn btn-sm btn-outline-danger', form: { data: { turbo_confirm: t('admin.featured_collections.confirm_destroy') } } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
