<h1>Endpoints</h1>

<div class="text-end mb-4">
  <%= link_to t('admin.actions.create'), new_endpoint_path, class: 'btn btn-outline-dark' %>
</div>

<% if @endpoints.empty? %>
  <p>No endpoints yet!</p>
<% else %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Slug</th>
        <th scope="col">Source Type</th>
        <th scope="col">Created At</th>
        <th scope="col">Updated At</th>
        <th scope="col">Active</th>
      </tr>
      </thead>
      <tbody>
      <% @endpoints.each do |endpoint| %>
        <tr>
          <td><%= link_to endpoint.slug, endpoint_path(endpoint) %></td>
          <td><%= endpoint.source_type %></td>
          <td><%= endpoint.created_at.to_fs(:display) %></td>
          <td><%= endpoint.updated_at.to_fs(:display) %></td>
          <td class="<%= endpoint_active_class(endpoint) %>">
            <%= endpoint.active.to_s.titleize %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @endpoints %>
<% end %>