<h1 class="mb-3">Endpoint Summary</h1>

<div class="btn-toolbar mb-4" role="toolbar">
  <div class="btn-group me-2">
    <%= link_to t('admin.actions.edit'), edit_endpoint_path(@endpoint), class: 'btn btn-outline-dark' %>
  </div>
  <div class="btn-group">
    <%= button_to t('admin.actions.harvest'), harvest_endpoint_path(@endpoint), class: 'btn btn-outline-info' %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <dl class="row mb-0">
      <dt class="col-sm-3">Active</dt>
      <dd class="col-sm-9">
        <span class="badge <%= @endpoint.active? ? 'bg-success' : 'bg-secondary' %>"><%= @endpoint.active.to_s.titleize %></span>
      </dd>

      <dt class="col-sm-3">Slug</dt>
      <dd class="col-sm-9"><%= @endpoint.slug %></dd>

      <dt class="col-sm-3">Source Type</dt>
      <dd class="col-sm-9"><%= @endpoint.source_type %></dd>

      <dt class="col-sm-3">Public Contacts</dt>
      <dd class="col-sm-9"><%= @endpoint.public_contacts.join(', ') %></dd>

      <dt class="col-sm-3">Technical Contacts</dt>
      <dd class="col-sm-9"><%= @endpoint.tech_contacts.join(', ') %></dd>

      <dt class="col-sm-3">Status</dt>
      <dd class="col-sm-9"><%= link_to(t('admin.endpoints.last_harvest_results'), endpoint_status_path(@endpoint.slug)) %></dd>

      <% if @endpoint.webpage_type? %>
      <dt class="col-sm-3">Webpage URL</dt>
      <dd class="col-sm-9"><%= link_to @endpoint.webpage_url, @endpoint.webpage_url %></dd>
      <% end %>

      <% if @endpoint.aspace_type? %>
        <dt class="col-sm-3">ASpace Instance</dt>
        <dd class="col-sm-9"><%= link_to @endpoint.aspace_instance.slug, aspace_instance_path(@endpoint.aspace_instance) %></dd>

        <dt class="col-sm-3"><%= I18n.t('admin.endpoints.aspace_repo_id') %></dt>
        <dd class="col-sm-9"><%= @endpoint.aspace_repo_id %></dd>
      <% end %>

      <dt class="col-sm-3">Created At</dt>
      <dd class="col-sm-9"><%= @endpoint.created_at.to_fs(:display) %></dd>

      <dt class="col-sm-3">Updated At</dt>
      <dd class="col-sm-9"><%= @endpoint.updated_at.to_fs(:display) %></dd>
    </dl>
  </div>
</div>
