<footer>
  <div class="footerliner one clearfix">
    <h2 class="bs4-visually-hidden" id="h2navfooter">Footer: Sitemap for navigation</h2>
    <h3 class="bs4-visually-hidden">Branding</h3>
    <div class="vlist branding">
      <div class="delivered"><%= t('footer.delivered_by') %></div>
      <a class="logo" href="https://www.library.upenn.edu"><%= image_tag("logo-2020-whitetite.svg", alt: "University of Pennsylvania Libraries homepage") %></a>
      <div class="copyright"><%= t('footer.copyright') %></div>
    </div>
    <h3 class="bs4-visually-hidden">Site info</h3>
    <ul class="no-list-style vlist info">
      <li><%= link_to t('common.links.home'), root_path %></li>
      <li><%= link_to t('common.links.browse_repositories'), repositories_path %></li>
      <li><%= link_to t('common.links.about'), about_path, class: "ext" %></li>
      <li><%= link_to t('common.links.how_to'), how_to_use_path, class: "ext" %></li>
      <% if current_user %>
      <li><%= link_to(t('common.links.admin'), admin_path, class: "ext") %></li>
      <% end %>
    </ul>
    <h3 class="bs4-visually-hidden">PACSCL</h3>
    <ul class="no-list-style vlist pacscl">
      <li><%= link_to t('footer.links.pacscl'), "https://www.pacscl.org/", class: "ext" %></li>
      <li><%= link_to t('footer.links.hidden_coll_init'), "https://hsp.org/hcipsar", class: "ext" %></li>
    </ul>
  </div>
  <div class="footerliner two">
    <h3 class="bs4-visually-hidden">Policy links</h3>
    <ul class="no-list-style hlist policy">
      <li class="disc"><%= link_to t('footer.links.disclaimer'), 'https://docs.google.com/document/d/17iZV-mBIqeDbHWFu-8Z4PAwA_-0Xi8OrNFOPVCsKcQQ/', class: 'ext' %></li>
      <li class="privacy"><%= link_to t('footer.links.privacy'), 'https://www.library.upenn.edu/about/policies/privacy', class: 'ext' %></li>
      <li class="acc"><%= link_to t('footer.links.a11y'), 'https://accessibility.web-resources.upenn.edu/get-help', class: 'ext' %></li>
      <li class="statement"><%= link_to t('footer.links.statement'), 'https://pacscl.org/what-we-believe/statement-on-archival-description-and-harmful-language/', class: 'ext' %></li>
    </ul>
  </div>
</footer>
