<h1>ASpace Instances</h1>

<div class="text-end mb-4">
  <%= link_to t('admin.actions.create'), new_aspace_instance_path, class: 'btn btn-outline-dark' %>
</div>

<% if @aspace_instances.empty? %>
  <p>No ASpace Instances yet!</p>
<% else %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Slug</th>
        <th scope="col">Endpoint Count</th>
        <th scope="col">Created At</th>
        <th scope="col">Updated At</th>
      </tr>
      </thead>
      <tbody>
      <% @aspace_instances.each do |instance| %>
        <tr>
          <td><%= link_to instance.slug, aspace_instance_path(instance) %></td>
          <td><%= instance.endpoints.count %></td>
          <td><%= instance.created_at.to_fs(:display) %></td>
          <td><%= instance.updated_at.to_fs(:display) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @aspace_instances %>
<% end %>