<h1 class="mb-3">User Summary</h1>

<div class="btn-group mb-3">
  <%= link_to t('admin.actions.edit'), edit_user_path(@user), class: 'btn btn-outline-dark mr-3' %>
  <%# TODO: add turbo confirmation when available %>
  <%= link_to t('admin.actions.destroy'), user_path(@user), class: 'btn btn-outline-danger', method: :delete %>
</div>

<dl class="user-list">
  <dt>PennKey</dt>
  <dd class="pennkey"><%= @user.uid %></dd>

  <dt>Email</dt>
  <dd class="email"><%= @user.email %></dd>

  <dt>Created At</dt>
  <dd class="created-at"><%= @user.created_at.to_fs(:display) %></dd>

  <dt>Active Status</dt>
  <dd class="active"><%= @user.active ? 'Active' : 'Inactive' %></dd>
</dl>
