<h1 class="mb-3">User Summary</h1>

<div class="btn-toolbar mb-4" role="toolbar">
  <div class="btn-group me-2">
    <%= link_to t('admin.actions.edit'), edit_user_path(@user), class: 'btn btn-outline-dark' %>
  </div>
  <div class="btn-group">
    <%= link_to t('admin.actions.destroy'), user_path(@user), class: 'btn btn-outline-danger', method: :delete %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <dl class="row mb-0">
      <dt class="col-sm-3">PennKey</dt>
      <dd class="col-sm-9"><%= @user.uid %></dd>

      <dt class="col-sm-3">Email</dt>
      <dd class="col-sm-9"><%= @user.email %></dd>

      <dt class="col-sm-3">Created At</dt>
      <dd class="col-sm-9"><%= @user.created_at.to_fs(:display) %></dd>

      <dt class="col-sm-3">Active Status</dt>
      <dd class="col-sm-9"><%= @user.active ? 'Active' : 'Inactive' %></dd>
    </dl>
  </div>
</div>
