<div class="card <%= classes %>">
  <div class="card-body">
    <%# Reducing heading size lower in the hierarchy. %>
    <div class="card-title">
      <div class="row justify-content-between">
        <div class="col-sm-9 col-md-10">
          <% if children? %>
            <%= content_tag "h#{level + 3}", role: 'heading' do %>
              <button
                class="btn btn-light btn-sm collapsable-toggle"
                type="button"
                data-toggle="collapse"
                data-target="#<%= id %>"
                aria-expanded="true"
                aria-controls="<%= id %>">
                <%= sanitize(title) %>
              </button>
            <% end %>
          <% else %>
            <%= content_tag :div, class: 'item-title' do %>
              <%= requesting_checkbox if @requestable %>
              <%= sanitize(title) %>
            <% end %>
        <% end %>
        </div>

        <div class="col-sm-3 col-md-2">
          <span class="float-right">
            <% container_info.each do |container| %>
              <span class="badge badge-secondary"><%= "#{container[:type]} #{container[:text]}" %></span>
            <% end %>
          </span>
        </div>
      </div>
    </div>

    <div class="collapse show card-records" id="<%= id %>">
      <% descriptive_data.each do |description| %>
        <%= render EadMarkupTranslationComponent.new(node: description) %>
      <% end %>

      <% if physdesc %>
        <% if physdesc[:label] %><strong><%= physdesc[:label] %></strong><% end %>
        <p class="physdesc"><%= physdesc[:text] %></p>
      <% end %>

      <%= render CollectionsComponent.new(node: node, level: level + 1, parent_id: id, requestable: @requestable) %>
    </div>
  </div>
</div>
