<div class="card my-2">
  <div class="card-body">
    <%# Reducing heading size lower in the hierarchy. %>
    <div class="card-title">
      <div class="row">
        <div class="col-sm-9 col-lg-10">
          <%= content_tag "h#{[level + 3, 6].min}", sanitize(title) %>
        </div>

        <div class="col-sm-3 col-lg-2">
          <% container_info.each do |container| %>
            <span class="badge badge-secondary"><%= container %></span>
          <% end %>
          <%= requesting_checkbox if form %>
        </div>
      </div>
    </div>

    <% descriptive_data.each do |description| %>
      <%= render EadMarkupTranslationComponent.new(node: description) %>
    <% end %>

    <% if physdesc %>
      <% if physdesc[:label] %><strong><%= physdesc[:label] %></strong><% end %>
      <p><%= physdesc[:text] %></p>
    <% end %>

    <%= render CollectionsComponent.new(node: node, level: level + 1, form: form) %>
  </div>
</div>
