<div class="card <%= classes %>">
  <div class="card-body">
    <%# Reducing heading size lower in the hierarchy. %>
    <div class="card-title">
      <div class="row justify-content-between">
        <div class="col-12">
          <% if children? %>
            <%# header row - full width %>
            <%= content_tag "h#{level + 3}", role: 'heading' do %>
              <button
                class="btn btn-light btn-sm collapsable-toggle<%= ' h5-collapse' if level == 2 %>"
                type="button"
                data-toggle="collapse"
                data-target="#<%= id %>"
                aria-expanded="true"
                aria-controls="<%= id %>">
                <%= sanitize(title) %>
              </button>
            <% end %>
          <% else %>
            <%# item row - show title and container cols, and maybe requesting checkbox %>
            <%= content_tag :div, class: 'item-title row' do %>
              <% if requestable? %>
                <div class="col-auto">
                  <%= requesting_checkbox %>
                </div>
              <% end %>
              <div class="col">
                <%= sanitize(title) %>
              </div>
              <div class="col-sm-3 col-md-2">
                <span class="float-right">
                  <% container_info.each do |container| %>
                    <span class="badge badge-secondary"><%= "#{container[:type]} #{container[:text]}" %></span>
                  <% end %>
                </span>
              </div>
            <% end %>
        <% end %>
        </div>
      </div>
    </div>

    <div class="collapse show card-records" id="<%= id %>">
      <% descriptive_data.each do |description| %>
        <%= render EadMarkupTranslationComponent.new(node: description) %>
      <% end %>

      <% identification_data.each do |identification| %>
        <strong><%= identification[:label] %></strong>
        <p class="physdesc"><%= identification[:text] %></p>
      <% end %>

      <% if digital_object_links.any? %>
        <div class="online-content mt-2">
          <strong>Materials Viewable Online</strong>
          <ol>
            <% digital_object_links.each do |link| %>
              <li><%= link %></li>
            <% end %>
          </ol>
        </div>
      <% end %>

      <%= render CollectionsComponent.new(node: node, level: level + 1, parent_id: id, requestable: @requestable) %>
    </div>
  </div>
</div>
