<%= content_tag @component,
                id: @id,
                data: {
                  'document-id': @document.id.to_s.parameterize,
                  'document-counter': @counter,
                },
                itemscope: true,
                itemtype: @document.itemtype,
                class: classes.flatten.join(' ') do %>
  <%= header %>
  <% if body.present? %>
    <%= body %>
  <% else %>
    <div class="document-main-section">
      <h2 id="main-content" class="bs4-visually-hidden">Main content</h2>
      <% if @show %>
        <%= title %>
        <%= embed %>
        <%= content %>
        <div id="overview">
          <h3 class="bs4-visually-hidden">Notifications</h3>
          <%= location_message %>
          <%= access_clarification_message %>
          <h3 class="bs4-visually-hidden">Overview and metadata sections</h3>
          <%= render CollapsableMetadataSection.new(title: t('sections.collection_overview'), open: true) do %>
            <%= render metadata component: Blacklight::DocumentMetadataComponent %>
          <% end %>
          <% collapsable_metadata_sections.each do |section| %>
            <%= section %>
          <% end %>
        </div>
        <div id="inventory">
          <h3><%= t('sections.collection_inventory') %></h3>
          <div class="holdinventory"><%= collection_inventory %></div>
        </div>
        <h3 class="bs4-visually-hidden">Print, Suggest</h3>
        <ul class="show-page-links no-list-style clearfix">
          <li class="print-all"><button onClick="window.print()"><%= t('document.links.print') %></button></li>
          <li class="suggest">
            <%= correction_email_link request.original_url %>
          </li>
        </ul>
      <% else %>
        <%= title component: ::DocumentTitleComponent %>
        <%= embed %>
        <%= content %>
        <%= metadata component: Blacklight::DocumentMetadataComponent %>
        <% metadata_sections.each do |section| %>
          <%= section %>
        <% end %>
        <%= location_message %>
      <% end %>
    </div>

    <%= thumbnail %>
  <% end %>
  <%= footer %>
<% end %>
