<% @page_title = t('how_to_use.page_title') %>

<h1 class="hptitle"><%= t('how_to_use.header') %></h1>
<h2 class="bs4-visually-hidden">Main content</h2>
<div class="hpcontent">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2 class="py-3">1. Find a collection on the website.</h2>
      <img src="<%= image_url('how-to-use/find-collection.jpg') %>"
           alt="Student using a laptop at home" class="img-fluid">
      <p class="py-3">
        Search by creator, topic, repository, and keyword, and discover related collections across more than 200
        regional repositories, large and small.
      </p>
      <img src="<%= image_url('how-to-use/search-or-filter2.png') %>"
           alt="Screenshot of homepage showing search field and facets"
           class="img-fluid">
      <p class="py-3">
        Use the search field at the top of the page or the filters on the left. To use both, set the filters first.
      </p>
      <h2 class="py-3">2. Note which institution holds the collection.</h2>
      <img src="<%= image_url('how-to-use/identify-repository.png') %>"
           alt="Interface: After the collection title, the next line says 'Held at' name-of-repository"
           class="img-fluid">
      <h2 class="py-3">3. Visit in person to see the collection.</h2>
      <img src="<%= image_url('how-to-use/visit-in-person.jpg') %>"
           alt="Interface: After the collection title, the next line says 'Held at' name-of-repository"
           class="img-fluid pb-5">
    </div>
  </div>
</div>
