<%# Overriding view from Blacklight v9.0.0 %>

<div class="pl-callout">
  <h2 class="pl-h3"><%= t('results.none.h2') %></h2>
  <ul class="mb-0">
    <li><%= t('results.none.check_spelling') %></li>
    <li><%= t('results.none.adjust_search') %></li>
    <li><%= t('results.none.different_keywords') %></li>
    <li><%= link_to(t('results.none.contact_us.link_text'), 'https://www.library.upenn.edu/contact-us') %> <%= t('results.none.contact_us.remaining_text') %></li>
  </ul>
</div>
