<%# Copied from Blacklight 8.4.0 to add in
- visually hidden Main content heading
- repository info
%>

<%= content_tag @component,
                id: @id,
                data: {
                  'document-id': @document.id.to_s.parameterize,
                  'document-counter': @counter,
                },
                itemscope: true,
                itemtype: @document.itemtype,
                class: classes.flatten.join(' ') do %>
  <%= header %>
  <% if body.present? %>
    <%= body %>
  <% else %>
    <div class="document-main-section">
      <h2 id="main-content" class="bs4-visually-hidden">Main content</h2>
      <%= title %>
      <%= embed %>
      <%= content %>
      <%= metadata %>
      <% metadata_sections.each do |section| %>
        <%= section %>
      <% end %>
      <%= repository_info %>
    </div>
    <%= thumbnail %>
  <% end %>
  <%= footer %>
<% end %>
