<h1>Request to view materials</h1>

<p>You are requesting to view materials on-site at <%= params[:repository] %></p>

<p>Please review the information and instructions below and press "Submit" when everything is in order. This will
  create a request in the Aeon system.</p>

<%= bootstrap_form_with id: 'aeonRequestForm', url: '#', method: :post, layout: :horizontal do |form| %>
  <%= form.hidden_field :call_num, value: params[:call_num] %>
  <%= form.hidden_field :repository, value: params[:repository] %>
  <%= form.static_control :title, value: params[:title] %>
  <%= form.form_group :containers_requested, label: { text: 'Items Requested' } do %>
    <% containers_from_params(params).each do |c| %>
      <%= form.static_control 'item[]', value: c, label: 'Container:' %>
    <% end %>
  <% end  %>
  <%= form.text_area :special_request %>
  <%= form.text_area :notes %>
  <%= form.date_select :retrieval_date %>
  <%= form.form_group :auth_type, label: { text: 'Login status' }, help: 'You must be logged in to your Special Collections Reference Account before submitting a request. Please ensure that you are logged in and confirm your account type.' do %>
    <%= form.radio_button :auth_type, 'penn', label: 'I am logged in as a Penn affiliate', checked: true %>
    <%= form.radio_button :auth_type, 'external', label: 'I am logged in as a Visitor' %>
  <% end %>
  <%= form.check_box :save_for_later %>
  <%= form.primary 'Submit' %>
<% end %>
