<pennlibs-accordion class="pl-flex pl-flex-col pl-gap-m" id="<%= @id %>">
<% document.extract(:description_definitions).each do |description| %>
    <details class="fa-guide__details">
      <summary>
        <h3 id="<%= description[:term] %>"><%= t("sections.#{description [:term]}") %></h3>
      </summary>
      <div>
        <%= description[:definition] %>
      </div>
    </details>
<% end %>

  <% if rights_and_citation.any? %>
  <details class="fa-guide__details">
    <summary>
      <h3 id="rights"><%= t("sections.rights_and_citation") %></h3>
    </summary>
    <div>
     <%= render ShowMetadataFieldsComponent.new(fields: rights_and_citation) %>
    </div>
  </details>
    <% end %>

  <% if subjects_and_headings.any? %>
    <details class="fa-guide__details">
      <summary>
        <h3 id="topics"><%= t("sections.subjects_and_headings") %></h3>
      </summary>
      <div>
        <%= render ShowMetadataFieldsComponent.new(fields: subjects_and_headings) %>
      </div>
    </details>
  <% end %>
</pennlibs-accordion>