<pennlibs-feedback></pennlibs-feedback>

<pennlibs-footer show-built-with>
  <section>
    <h2><%= t('footer.archives.heading') %></h2>
    <%= link_to t('footer.archives.home'), root_path %>
    <%= link_to t('footer.archives.about'), about_path %>
    <%= link_to t('footer.archives.pacscl'), t('urls.pacscl') %>
    <%= link_to t('footer.archives.statement'), t('urls.statement') %>
  </section>
  <% if user %>
    <section>
      <h2><%= t('footer.admin.heading') %></h2>
      <%= link_to t('footer.admin.link'), admin_path %>
    </section>
  <% end %>
</pennlibs-footer>
