<details class="<%= details_class %>">
  <summary>
    <%= heading %>
  </summary>
  <div class="pl-flex pl-flex-col pl-gap-s">
    <% if @entry.children? %>
      <%= parent_entry_metadata(@entry) %>
    <% end %>

    <% if all_children_have_children? %>
      <% @entry.children.each_with_index do |child, i| %>
        <%= render InventoryComponent.new(entry: child, level: @level + 1, parent_id: heading_id, index: i + 1,
                                          requestable: @requestable) %>
      <% end %>
    <% else %>
      <table class="table table--responsive-small">
        <thead>
        <tr>
          <th><%= t('show.sections.inventory.contents') %></th>
          <th><%= t('show.sections.inventory.dates') %></th>
          <th><%= t('show.sections.inventory.container') %></th>
          <% if @requestable %>
            <th><%= t('show.sections.inventory.select') %></th>
          <% end %>
        </tr>
        </thead>
        <% row_entries.each_with_index do |row_entry, i| %>
          <% if row_entry.children? %>
            <tr class="inventory-row">
              <td colspan=<%= @requestable ? COLSPAN_MAX : COLSPAN_MIN %>>
                <%= render InventoryComponent.new(entry: row_entry, level: @level + 1, parent_id: heading_id,
                                                  index: i + 1, requestable: @requestable) %>
              </td>
            </tr>
          <% else %>
            <% dates = date(row_entry) %>
            <% containers = join_containers(row_entry) %>
            <% title_text = title(title: row_entry.title_text, origination: row_entry.origination) %>

            <tr class="inventory-row">
              <td data-th="<%= t('show.sections.inventory.contents') %>"><%= contents_column(row_entry) %></td>
              <td data-th="<%= t('show.sections.inventory.dates') %>"><%= dates %></td>
              <td data-th="<%= t('show.sections.inventory.container') %>"><%= containers %></td>
              <% if @requestable %>
                <td class="fa-visit__cell" data-th="<%= t('show.sections.inventory.select') %>">
                  <label class="fa-visit__label">
                    <%= check_box_tag :c_req, id: "#{heading_id}-item-#{i + 1}", class: 'fa-visit__checkbox', data: { container: join_containers(row_entry) } %>
                    <span class="visually-hidden"><%= t('show.sections.inventory.select_visually_hidden', title: title_text) %></span>
                  </label>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </table>
    <% end %>
  </div>
</details>