<h1 class="mb-4">Endpoint Status</h1>
<h2 class="h4 text-muted mb-4"><%= @endpoint.slug %></h2>

<div class="card mb-4">
  <div class="card-body">
    <h3 class="h5 mb-3">Contacts</h3>
    <dl class="mb-0">
      <dt>Public Contacts</dt>
      <dd>
        <ul class="list-unstyled mb-0">
        <% @endpoint.public_contacts.each do |contact| %>
          <li><%= mail_to contact %></li>
        <% end %>
        </ul>
      </dd>

      <dt>Technical Contacts</dt>
      <dd>
        <ul class="list-unstyled mb-0">
        <% @endpoint.tech_contacts.each do |contact| %>
          <li><%= mail_to contact %></li>
        <% end %>
        </ul>
      </dd>
    </dl>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <h3 class="h5 mb-3">Harvesting Information</h3>
    <dl class="mb-0">
      <dt>Active</dt>
      <dd>
        <span class="badge <%= @endpoint.active? ? 'bg-success' : 'bg-secondary' %>"><%= @endpoint.active.to_s.titleize %></span>
      </dd>

      <dt>Endpoint Type</dt>
      <dd><%= @endpoint.source_type %></dd>

      <% if @endpoint.display_url %>
        <dt>Endpoint URL</dt>
        <dd><%= link_to @endpoint.display_url, @endpoint.display_url %></dd>
      <% end %>

      <dt>Last Harvest Attempt</dt>
      <dd><%= time_since_last_harvest @endpoint.last_harvest.date %></dd>
    </dl>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <h3 class="h5 mb-3">Harvest Results</h3>

    <% if @endpoint.last_harvest.failed? %>
      <div class="alert alert-danger">
        <strong>No files able to be harvested</strong>
      </div>
      <h4 class="h6">Messages</h4>
      <ul>
        <% @endpoint.last_harvest.errors.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>

    <% elsif @endpoint.last_harvest.partial? %>
      <div class="alert alert-warning">
        <strong>Some problems harvesting individual files</strong>
      </div>
      <h4 class="h6">Problem Files (<%= @endpoint.last_harvest.problem_files.count %>)</h4>
      <ol>
        <% @endpoint.last_harvest.problem_files.each do |file| %>
          <li><%= error_message_for(file).html_safe %></li>
        <% end %>
      </ol>
      <h4 class="h6">Successful Files (<%= @endpoint.last_harvest.success_files.count %>)</h4>
      <ol>
        <% @endpoint.last_harvest.success_files.each do |file| %>
          <li><%= link_to file['id'], solr_document_path(file['id']) %></li>
        <% end %>
      </ol>

    <% else %>
      <div class="alert alert-success">
        <strong>All files harvested successfully</strong>
      </div>
      <h4 class="h6">Files (<%= @endpoint.last_harvest.success_files&.count %>)</h4>
      <ol class="mb-0">
        <% @endpoint.last_harvest.success_files&.each do |file| %>
          <li><%= link_to file['id'], solr_document_path(file['id']) %></li>
        <% end %>
      </ol>
      <% if @endpoint.last_harvest.removals? %>
        <h4 class="h6 mt-3">Removed Records</h4>
        <ol id="removed-records-list">
          <% @endpoint.last_harvest.removed_files.each do |removed| %>
            <li><%= removed['id'] %></li>
          <% end %>
        </ol>
      <% end %>
    <% end %>
  </div>
</div>
