<% @page_title = "Request to View Materials" %>

<h2 class="mb-4"><%= t('requests.form.header') %></h2>

<%#
  Ok, so using the AeonForm of "ExternalRequest" just doesn't work.
  I see two distinctive forms - EADRequest and PhotoduplicationRequest. These kinda work, but:
  Currently using EADRequest for, nothing happens (no errors display)
  And using PDRequest, validation errors are present, and it doesn not appear that i can submit multiple items.
  Ask Atlas these questions!
%>

<% params = ActionController::Parameters.new(
  repository: Settings.aeon.locations.sample[:label],
  title: '1992 collection',
  request_type: Aeon::Request::VISIT_REQUEST,
  special_request: 'Special request',
  notes: 'Some notes',
  retrieval_date: '2027-01-01',
  save_for_later: true,
  return_url: 'http://example.com',
  item: ['Box 1', 'Box 2'],
  item_barcode: ['1234', '5678']
) %>

<% request = Aeon::Request.new(params) %>

<p>
<%= pp request.inspect %>
</p>

<p>
<%= pp request.to_h %>
</p>

<%= bootstrap_form_with id: 'aeonRequestForm', url: Settings.aeon.ere_endpoint, method: :post, authenticity_token: false do |form| %>
  <% request.to_h.each do |key, value| %>
    <%= form.hidden_field key, value: value %>
  <% end %>
  <%= form.submit 'Send request' %>
<% end %>
