<%#
  Overriding Blacklight 9.0.0 template in order to add design system
  assets, and google tag manager snippets.
%>

<!DOCTYPE html>
<%= content_tag :html, class: 'no-js', **html_tag_attributes do %>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= render_page_title %></title>
    <script>
        document.querySelector('html').classList.remove('no-js');
    </script>
    <%= opensearch_description_tag application_name, opensearch_catalog_url(format: 'xml') %>
    <%= favicon_link_tag %>

    <%# Typekit fonts (used by Penn Libraries design system) %>
    <%= stylesheet_link_tag "https://use.typekit.net/gbh8cmg.css" %>

    <%# Penn Libraries design system %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/@penn-libraries/web@#{Settings.pennlibs_web_version}/dist/web/web.css" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload"  %>
    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag "https://cdn.jsdelivr.net/npm/@penn-libraries/web@#{Settings.pennlibs_web_version}/dist/web/web.esm.js" %>

    <%= csrf_meta_tags %>
    <%= content_for(:head) %>

    <%= render 'shared/google_tag_manager/head_snippet' %>
  </head>
  <body class="pl-reset pl-typeset <%= render_body_class %>">
  <%= render 'shared/google_tag_manager/body_snippet' %>

  <%= render blacklight_config.skip_link_component.new do %>
    <%= content_for(:skip_links) %>
  <% end %>

  <%# Allow homepage to provide its own hero-integrated header via content_for(:header). %>
  <% if content_for?(:header) %>
    <%= yield :header %>
  <% else %>
    <%= render blacklight_config.header_component.new(blacklight_config: blacklight_config, user: current_user) %>
  <% end %>

  <%# Use fluid container on homepage so background sections span full width (matches DC). %>
  <% main_class = (controller_name == 'catalog' && action_name == 'index' && !has_search_parameters?) ? 'container-fluid' : container_classes %>
  <main id="main-container" class="<%= main_class %>" aria-label="<%= t('blacklight.main.aria.main_container') %>">
    <%= content_for(:container_header) %>

    <%= render 'shared/flash_msg', layout: 'shared/flash_messages' if flash.any? %>

    <div class="row">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </main>

  <%= render FooterComponent.new(user: current_user) %>
  <%= render partial: 'shared/modal' %>
  </body>
<% end %>